<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>购物车案例</title>
  <style>
    .active {
      background-color: #ddd;
    }
    .message-box {
      padding: 10px 20px;
      background: #4fc08d;
      border: 1px solid #42b983;
    }
    .message-box-close {
      float: right;
    }
  </style>
</head>
<body>
  <div id="app">

    <!-- 插槽实现内容分发 -->
    <message :show.sync="show">
      <template v-slot:title>恭喜</template>
      <template>新增课程成功！</template>
    </message>
    
    <!-- 插值文本 -->
    <h2>{{ title }}</h2>

    <!-- 特性、属性值绑定使用v-bind指令 -->
    <h2 v-bind:title="title"></h2>

    <!-- 自定义课程添加组件 -->
    <!-- 组件使用v-model，需要实现内部input的:value和@input -->
    <course-add v-model="course" @add-course="addCourse"></course-add>

    <!-- 自定义课程列表组件 -->
    <course-list :courses="courses"></course-list>

    <p>
      <!-- 绑定表达式 -->
      <!-- 课程总数：{{ courses.length + '门'}} -->
      <!-- 计算属性 -->
      <!-- 课程总数：{{ total }} -->
      <!-- 监听器 -->
      课程总数： {{ totalCount }}
    </p>
  </div>
  <script src="../vue.js"></script>
  <script>
    // 注册course-list组件
    Vue.component('course-list', {
      props: {
        // 新增课程时也要方位courses，因此作为属性传递
        courses: {
          type: Array,
          default: []
        }
      },
      data() {
        return {
          // 改状态属于course-list内部状态，因此作为数据
          selectedCourse: '', // 保存选中项
        }
      },
      template: `
        <div>
          <!-- 条件渲染 -->
          <p v-if="courses.length === 0">没有任何课程信息</p>

          <!-- 列表渲染 -->
          <ul>
            <!-- class绑定 -->
            <!-- <li
              v-for="c in courses"
              :class="{active: (selectedCourse === c)}"
              @click="selectedCourse = c"
            >{{c}}</li> -->

            <!-- style绑定 -->
              <li
                v-for="c in courses"
                :style="{backgroundColor: (selectedCourse === c) ? '#ddd' : 'transparent'}"
                @click="selectedCourse = c"
              >{{ c }}</li>
          </ul>
        </div>
      `
    })

    // 注册course-add组件
    Vue.component('course-add', {
      // 修改默认的:value
      // model: {
      //   prop: 'myvalue'
      // },
      // 接收父组件传递的value，不需要额外维护course
      props: ['value'],
      data() {
        return {
        }
      },
      methods: {
        addCourse() {
          // 发送自定义事件通知父组件
          // 注意事件名称定义时不要有大写字母出现
          // this.$emit('add-course', this.course)
          // 派发事件不再需要传递数据
          this.$emit('add-course')
          // this.course = ''
        },
        onInput(e) {
          this.$emit('input', e.target.value)
        }
      },
      template: `
        <div>
          <!-- 表单输入绑定 -->
          <!-- 需要实现input的:value和@input -->
          <!-- <input type="text" v-model="course" v-on:keydown.enter="addCourse"> -->
          <input :value="value" @input="onInput" @keydown.enter="addCourse">

          <!-- 事件处理 -->
          <button v-on:click="addCourse">新增课程</button>  
        </div>
      `
    })

    // slot作为占位符
    Vue.component('message', {
      props: ['show'],
      template: `
        <div class="message-box" v-if="show">
          <strong>
            <slot name="title"></slot>
          </strong>
          <slot></slot>
          <span class="message-box-close" @click="$emit('update:show', false)">x</span>
        </div>
      `
    })

    const app = new Vue({
      el: '#app',
      data: {
        title: '购物车案例',
        // courses: ['web全栈', 'web高级'],
        courses: [],
        totalCount: 0,
        course: '',
        show: false //　提示框状态
      },
      computed: {
        total() {
          return this.courses.length + '门'
        }
      },
      methods: {
        addCourse() {
          this.courses.push(this.course)
          this.course = ''
          // 更新提示框状态
          this.show = true
        }
      },
      watch: {
        // 下面这种不能生效，因为初始化时不会触发
        // courses(newValue, oldValue) {
        //   this.totalCount = newValue.length + '门'
        // }
        courses: {
          immediate: true,
          // deep: true,
          handler(newValue, oldValue) {
            this.totalCount = newValue.length + '门'
          }
        }
      },
      // created钩子中调用接口
      async created() {
        const courses = await getCourses()
        this.courses = courses
      }
    })
    console.log(app.$options.render)

    function getCourses() {
      return new Promise(resolve => {
        setTimeout(() => {
          resolve(['web全栈', 'web高级'])
        }, 2000)
      })
    }
  </script>
</body>
</html>